<h1>My blog</h1>
<h1><%= link_to "My Articles", articles_path %></h1>
<% @blog_posts.each do |blog_post| %>


    <div>
        <h2><%= link_to blog_post.title, blog_post %></h2>
        <% if blog_post.draft? %>
            <div class="bg-gray-100 p-2 rounded text-gray-900"> Draft</div>
        <%elsif blog_post.scheduled? %>
            <div class="bg-blue-100 p-2 rounded text-gray-900"> Scheduled</div>
        <% end %>
        <%= blog_post.content %>
    </div>
<% end %>
<%= console %>
<%== pagy_nav(@pagy, class: "mt-16") %>
<h2>TEST PUSHING CODE CHANGES TO PRODUCTION</h2>